    body {
        background-color: white;
        font-size: 14px;
        margin: 0 auto;
        max-width: 80%;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .subcontainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .itemSmall {
        flex: 150px;
        padding: 10px;
        border: 1px solid #333;
        background-color: darkgrey;
        color: azure;
    }

    .itemBig {
        flex: 3;
        padding: 10px;
        border: 1px solid #333;
    }

    nav, aside ul{
        list-style-type: none;
    }

    nav ul li {
        display: inline;
        font-size: 25px;
    }

    header, footer, nav {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
        margin: 5px;
    }

    h3 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        margin: auto;
    }

    .button {
        padding: 4px 8px;
        font-size: 14px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 500px;
        cursor: pointer;
    }

    /* Vanhat css koodit
#main-header {
    background-color: black;
    text-align: center;
    padding:20px;
}

#main-header h1{
    margin:0;
    font-size:32px;
}

#main-header p {
    font-size:16px;
    margin-top:10px;
}

main{
    display: flex;
    justify-content: space-around;
}

aside{
    flex: 250px;
    text-align: left;
    color: black;
    background-color: lightgrey;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

section{
    flex-grow:2;
}

article{
    display: flex;
    background-color: silver;
    margin:5px;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
}

/* Esimerkit

main {
    display:flex;
    justify-content: space-around;
}

aside{
    flex:250px;
    text-align: left;
    color: black;
    background-color: white;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

section{
    flex-grow:2;
}

   .itemNav {
        flex: 1;
        padding: 3px;
        margin: 5px;
        text-align: center;
        border: 1px solid #333;
        background-color: white;
    }

*/